"WES/Assets/GameResource/Noto_Sans_KR/static/NotoSansKR-Medium SDF.asset"
WES/Assets/GameResource/Noto_Sans_KR/static/NotoSansKR-Medium SDF.asset
Build

# Obsidian (vault root = document/)
document/.obsidian/
document/.trash/
